:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}


.card {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: darkgray;
  border-radius: 12px;
  width: 700px;
  height: 200px;
  margin-bottom: 15px;
}

.product-img {
  border-radius: 12px;
}


p{
  color: #242424;
  font-size:large ;
  font-weight: bolder;
  padding-left: 5px;
}

section{
  flex-direction: column;
  height: min-content;
}



/* ---- */

.card-red{
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: darkred;
  border-radius: 12px;
  width: 700px;
  height: 200px;
  margin-bottom: 15px;
}

.card-red>section>p{
  color: whitesmoke

}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}